table {
  border-collapse: collapse;
  color: #686461;
}
td {
  text-transform: capitalize;
  padding: 10px;
  border-right: 1px solid #686461;
}
tr:nth-child(even) {
  background: white;
}
tr:nth-child(odd) {
  background: #e0dfdd;
}
th {
  text-transform: uppercase;
  padding: 10px;
  color: white;
  border-right: 1px solid #686461;
  background-color: rgb(29, 123, 247);
}
.history {
  width: 400px;
  height: auto;
  text-align: center;
  border: 1px solid grey;
}
